 *{
    margin:0px;
    padding: 0px;

}

body{
    font-family: 'Rajdhani', sans-serif;
    font-size: 17px;
    margin: 16px;
    background: rgb(241, 231, 231);
    color:#fff;
}
main{
    margin: 95px;
    height: 80%;
    background-color: #4e733d;
    box-shadow: 20px 20px 15px 10px rgba(32, 31, 29, 0.952);
    border-style: solid;
    border-radius: 10px;
}
h2,p{
    font-size: 20px;
    font-weight:normal;

}
ul,li{
    list-style: none;
}
ul{
    overflow:hidden;
    padding:48px
} 
ul li a{
text-decoration: none;
color: #000;
background: #f28705;
display: block;
height: 190px;
width: 160px;
padding: 16px; /* espeço entre os post-it*/ 
margin-top: 20px;
box-shadow: 5px 5px 7px rgba(33,33,33,.7); 
transition:transform .15s linear;
} 

ul li{
    margin: 16px; /* divisão dos post-it*/
    float:left;
}

ul li h2{
    font-size: 145%;
    font-weight: bold;
    padding-bottom: 7px;
    
}

ul li p{
    
    font-family: cursive;
    font-size: 98%;
    padding-top: 5px;
}


ul li a {
    transform:rotate(-6deg);
}

ul li:nth-child(even) a{
    transform: rotate(4deg);
    position: relative;
    top:5px;
    background: rgb(238, 238, 235);

}
ul li:nth-child(3n) a{
    transform: rotate(-3deg);
    position: relative;
    top:-5px; 
    background: #f28705;
}


ul li:nth-child(5n) a{
    transform: rotate(5deg);
    position: relative;
    top: -10px;
    
}
ul li:nth-child(12n) a{
    background: rgb(238, 238, 235);
    
}
ul li:nth-child(6n) a{
    background: rgb(238, 238, 235);
    
}
ul li:nth-child(6n) p{
    padding-top: 2px;
    
}
    

ul li a:hover, ul li a:focus{
    box-shadow: 10px 10px 7px rgba(0,0,0,.7);
    transform: scale(1.25);
    position: relative;
    z-index:5;
}
.titulo{
    padding: 20px;
    font-family:  'Road Rage', cursiva;
    font-size: 50px;
    text-align: center;
    color: black;
}